#y4y-home {
    .doe-logo {
        transform: scale(0.5);
        margin-left: -27px;
        margin-top: -26px;
    }

    .logo_home.logo_pos {
        margin-top: -25%;
        transform: scale(0.65);
        margin-left: -9%;
    }

    .search.text-nowrap .input-search {
        margin-left: -20px;
    }
}

#y4y-home form.search-form {
    padding-right: 40px;
    padding-left: 0;
}

.home_linksx {
    padding-left: 0;
}

.panel-default.side {
    max-width: 400px;
}

.video-js {
    right: 15px;
}

.header_font_contacts {
    left: 7%;
    font-size: .9em;
    margin-top: -26%;
}

.doe-logo {
    transform: scale(0.4);
    margin-left: -2%;
    margin-top: -3%;
}

a.leaf-btn {
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    line-height: 60px;
}

h2.aligning {
    margin-left: -2px;
}

.display_inline > li {
    padding: 0px;
}

.breadcrumb {
    margin-top: 10px;
    font-weight: normal;
}

.display_inline.aqua:first-child:after {
    margin-left: 4px;
}

.btn.btn-primary {
    font-size: .9em;
    margin-left: 12px;
}

.adjust_input {
    margin-top: 8px;
}

.search-query.form-control.top.adjust_input {
    max-width: 310px;
    margin-left: 10px;
}

ol.display_inline.aqua.top {
    padding-left: 15px;
}

h2 {
    font-size: 1.6em;
}

h4 {
    padding-bottom: 20px;
}

.head-icon h4 {
    font-size: 1.3em;
    padding-bottom: 0px;
    padding-top: 25px;
}

.pos_side {
    margin-left: 20%;
}

.last_footer {
    margin-bottom: 30px;
}

.home_text {
    right: 40%;
}

.petal_second {
    margin-left: 5%;
}

.pos_petal {
    display: none;
}

.vert_center {
    margin-top: 10%;
}

/*home button/search edits*/

#y4y-home .home_nav.navbar-default {
    margin-top: -55px;
}

#y4y-home section.no_section_pad {
    padding: inherit;
}

.y4y-main-header .img-responsive {
    width: 116%;
}

#y4y-home .pos_button {
    margin-top: 0;
    margin-left: 0;
}



#y4y-main-wrap {
    padding-bottom: 0px;
}

//safari IOS hack

@supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) and (not (-moz-appearance: none)) {
    .btn-clear.sub {
        left: -40px;
    }
}

@media screen and (max-width: 600px) {
    h2.aligning:before {
        margin-top: 0px;
    }

    h2.aligning {
        padding-bottom: 20px;
    }

    .pos_side {
        margin-left: 15%;
    }

    #y4y-home {
        .logo_pos {
            transform: scale(0.6);
            margin-left: -11%;
        }

        .search.text-nowrap .input-search {
            margin-left: -20px;
            width: 258px;
        }
    }

    .header_font_contacts {
        margin-top: -19%;
        font-size: .7em;
        left: 11%;
    }
}

@media screen and (max-width: 480px) {
    /* odin test*/
    p.FloatRight {
        float: none;
    }

    .FloatRight img, img.FloatRight {
        margin-bottom: 10px;
        margin-left: 0;
        float: none;
        width: 100% !important;
        height: auto !important;
    }

    h2.aligning:before {
        margin-top: 0px;
    }

    h2.aligning {
        padding-bottom: 20px;
    }

    .pos_side {
        margin-left: auto;
    }

    .petal_second {
        /* transform: scale(.9);
         margin-left: -9%;*/

        margin: 0 auto;
        transform: scale(0.79);
        margin-left: -2%;
    }

    .home_text {
        font-size: 1.8em;
    }

    #y4y-home {
        .logo_home.logo_pos {
            transform: scale(0.5);
            margin-left: -95px;
            margin-top: -35%;
        }

        .color_aqua {
            height: 552px;
        }
    }

    .padding_home {
        padding-left: 0px;
    }

    .p_icon {
        display: block;
        margin: 0px;
    }

    .icon_pos img {
        padding-right: 13px;
    }

    .desc {
        padding: 0px 0px 20px 0px;
    }

    .fix_input_size_xs.input-search {
        width: 85%;
    }

    .header_font_contacts {
        margin-top: -18%;
        font-size: .6em;
        left: 5%;
    }
}

.legend_box {
    margin-bottom: 30px !important;
}

//////////////////// remove padding from the blog buckets /////////////

.bucket .entry-content {
    padding: 5px;
}

////////////////////// change the size of the comment text area ///////////////

textarea {
    overflow: inherit;
    max-width: 282px;
}

/////////////////// BEGIN STYLE VIDEOS FOR AFTERSCHOOL PAGES //////////////////

.AstkBlurb {
    .AstkMedia {
        video {}

        p {
            padding: 20px 0;
        }
    }
}

/////////////////// END STYLE VIDEOS FOR AFTERSCHOOL PAGES //////////////////

@supports (-webkit-text-size-adjust: none) and (not (-ms-accelerator: true)) and (not (-moz-appearance: none)) {
    .btn-clear.sub {
        left: -37px;
    }

    .fix_input_size_xs.input-search {
        width: 90%;
    }
}

//////////////// STYLE THE EXPANDABLE H2 /////////////////////

.bucket h2, .expandable.bucket h2 {
    line-height: normal;
}

.bucket h2 {
    padding: 20px;
}

.bucket p {
    padding: 10px 30px;
}

//////////////// END STYLE THE EXPANDABLE H2 /////////////////

/////////////////////////// STYLE THE UGLY MODULE TABLES I'M FIXING WHAT WAS ALREADY BROKEN AND IT IS STILL BROKEN DUE TO CONTENT OPERATOR FALIURE /////////////////////

table[class="FloatRight TStyle Half"], table[class="TStyle"], table[class="modTbl TStyle"] {
    overflow-x: auto;

    tbody {
        tr {
            td, th {}
        }

        &:first-child {
            tr {
                td, th {}

                &:first-child {}

                &:nth-child(even) {}
            }
        }
    }
}

/////////////////////////// END STYLE THE UGLY MODULE TABLES /////////////////////
