#y4y-home {
    .search .input-search {
        margin-left: 0px;
    }

    .home_links {
        line-height: auto;
        height: 30px;
        margin-left: auto;
    }
}

h2.aligning {
    margin-left: 0px;
}

.btn.btn-primary {
    // width: 78px;
    font-size: .9em;
}

.searchsubmit {
    top: 14px;
    right: 355px;
}

.petal_second {
    margin-left: -1%;
}

h2.aligning:before {
    margin-top: 0px;
}

.search-query.form-control.top.adjust_input {
    max-width: 346px;
}

.search.text-nowrap .input-search {
    margin-top: 10px;
    width: 260px;
}

.pos_petal {
    display: none;
}

.home_text {
    right: 44%;
}

.search.text-nowrap .input-search {
    margin-top: inherit;
}

.blog_pad {
    padding-right: 0px;
}

.header_font_contacts {
    font-size: 1em;
    margin-top: -21%;
}

.vert_center {
    margin-top: 8%;
}

.legend_box {
    margin-bottom: 30px !important;
}

/////////////////// BEGIN STYLE VIDEOS FOR AFTERSCHOOL PAGES //////////////////

.AstkBlurb {
    .AstkMedia {
        video {}

        p {
            padding: 20px 0;
        }
    }
}

/////////////////// END STYLE VIDEOS FOR AFTERSCHOOL PAGES //////////////////

//////////////// STYLE THE EXPANDABLE H2 /////////////////////

.bucket h2, .expandable.bucket h2 {
    line-height: normal;
}

.bucket h2 {
    padding: 20px;
}

//////////////// END STYLE THE EXPANDABLE H2 /////////////////
