.header_font {
    font-size: 1.1em;
}

.btn.btn-primary {
    // width: 78px;
    font-size: .9em;
}

h2.aligning:before {
    margin-top: -15px;
}


.next.button, .prev.button
{
    max-width: 320px;

}

.petal_second {
    margin-top: 70px;
    margin-left: -1%;
}

.orange_grad {
    .comp_teal {
        position: absolute;
        margin-left: -215px;
        margin-top: -220px;
        transform: scale(0.4);
        position: absolute;
        margin-left: 43%;
        margin-top: -71%;
        transform: scale(0.4);
    }
}

.home_text {
    right: 46.5%;
}

.blog_pad {
    padding-right: 20px;
}

.header_font_contacts {
    left: 6%;
    font-size: 1.2em;
    margin-top: -20%;
}

.vert_center {
    margin-top: 4%;
}

.text-right.contact-join {
    text-align: left;
}

.navbar-header {
    float: none;
    margin-top: 1px;
}

.text-right.contact-join {
    text-align: right;
}
