// PLACE VARIABLES HERE IF YOU WISH. IT IS A GOOD PRACTICE TO DECLARE YOUR VARIABLES IN ONE PLACE. YOU DO NOT HAVE TO, BUT IT COULD MAKE THINGS EASIER FOR YOU.

$your-variable: #000;
$header-link-color: #fff;
$header-link-hover-color: #ff0000;
$orange: #ef9e5a;
$white: #fff;
$black: #000;
$teal: #1ebcb3;
$tools-acc-odd: #a0a0a0;
$tools-acc-even: #b6bbbb;

// END VARIABLES

html, body {
    height: 100%;
    min-height: 100vh;
}

//OVERWRITE BOOTSTRAP COL PADDING

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    /*padding-left: 0px !important;*/
    /*  padding-right: 0px !important;*/
}

h1.home {
    a {
        color: $teal;
        font-size: 32px;
        margin-top: 0px;
    }
}

h1 {
    a, a:hover, a:focus {
        color: $teal;
    }
}

h2 {
    color: $orange;
    font-size: 1.6em;

    a, a:hover, a:focus {
        color: $orange;
    }
}

h3 {
    color: #777;
    font-size: 1.5em;

    a, a:hover, a:focus {
        color: #777;
    }
}

h3.panel-title {
    font-size: 1.7em;
}

.panel-title > a:hover {
    color: #fff;
}

h3.webinar {
    font-size: 1.3em;
    padding-right: 10px;
}

h4 {
    color: $teal;
    font-size: 1.3em;

    a, a:hover, a:focus {
        color: $teal;
    }
}

/* for orange accordion buttons in the implementation stratagy section */

h4.button, h2.button {
    padding: 20px;
    font-size: 1.3em;
}

#tap-resources-and-partners-3 .content h3 {
    font-size: 1.2em;
}

#connect-to-the-school-day-coaching-moment-2, #connect-to-the-school-day-coaching-moment, #learn-more-library1, #learn-more-library6, #learn-more-library3, #dedicate-time-coaching-moment .expandable, #spark-interest-widen-horizons-coaching-moment .content#c1, #spark-interest-widen-horizons-coaching-moment .content#c2, #spark-interest-widen-horizons-coaching-moment .content#c3  {
    h3:after {
        content: none !important;
    }
}

#use-data-to-support-student-success-coaching-moment-1, #build-staff-skills-coaching-moment, #build-staff-skills-coaching-moment1, #share-responsibility-for-student-learning-coaching-moment, #build-staff-skills-coaching-moment-1  {
    li.expandable h4:after {
        content: none !important;
    }
}

#demonstrate-learning-coaching-moment li.expandable, #spark-interest-widen-horizons-coaching-moment {
    #c1 h2:after, #c2 h2:after, #c3 h2:after {
        content: none !important;
    }
}

#math h4 {
    color: $teal;
}

h5 {
    font-weight: 100;
    font-size: 1.1em;
}

address {
    line-height: 1.5;
}

section {
    padding: 40px 0px;
}

.norm_font_weight {
    font-weight: 100;
}

.opacity_90 {
    opacity: 0.9;

    p, h1, h2, h3, h4, h5 {
        opacity: 1;
    }
}

a {
    color: $teal;
}

a:hover {
    color: $teal;
}

/*tap-resources-and-partners-2 edits*/

.col3 {
    width: 33.33%;
    padding-left: 4%;
    float: left;
}

.Center {
    text-align: center;
}

.col3.Center h3 {
    font-size: 1.1em;
    min-height: 40px;
    padding: 10px;
}

.Center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p {
    letter-spacing: 0.03em;
    line-height: 1.5em;
}

.header_font_title {
    font-family: 'Arvo', 'Georgia', serif;
    font-size: 1.8em;
    font-weight: 800;
    line-height: 1.1em;
}

section.no_section_pad {
    padding: inherit;
}

.breadcrumb {
    background-color: #fff;
    padding: 20px 15px;
    font-size: 1.2em;
    font-weight: 600;
}

.breadcrumb a, .breadcrumb a:visited, .breadcrumb a:hover, .breadcrumb > a:active {
    color: #999;
}

.display_inline > li {
    display: inline;
}

.breadcrumb > li + li:before {
    content: ">";
    font-size: 1.2em;
}

p.protract:before, p.trophy:before, p.pencil:before {
    content: "";
    display: block;
    background: url("../img/atom.png") no-repeat;
    width: 42px;
    height: 110px;
    float: left;
    margin: 0 6px 4px 0;
}

#college-and-career-readiness h1 {
    background: url("/assets/img/badge_ccr.png") left center no-repeat;
    padding: 20px 0 15px 78px;
}

.y4y-main-content h2 a::after {
    content: "\f061";
    font-family: FontAwesome;
    left: 5px;
    position: relative;
    font-size: .8em;
    top: -2px;
}

#summer-learning .y4y-main-content h2 a::after {
    content: none;
}

.FloatRight img, img.FloatRight {
    margin-left: 10px;
    margin-bottom: 10px;
}

.FloatLeft img, img.FloatLeft {
    margin-right: 10px;
    margin-bottom: 10px;
}

p.protract:before {
    background: url("../img/protract.png") no-repeat;
}

p.trophy:before {
    background: url("../img/trophy.png") no-repeat;
}

p.pencil:before {
    background: url("../img/tools_pencil_ruler.png") no-repeat;
}

p, ul {
    color: #696868;
}

h1.pencil_icon {
    margin-bottom: 20px;
}

h1.pencil_icon:before {
    content: "";
    display: block;
    background: url("../img/pen_icon.png") no-repeat;
    width: 70px;
    height: 70px;
    float: left;
    margin: -16px 6px 4px 0;
}

h1.home_adjust {
    margin-bottom: -15px;
    min-height: 70px;
}

.doe-logo {
    margin-top: -23%;
}

h1, h2, h3, h4 {
    font-family: 'Arvo', 'Georgia', serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h2.aligning {
    margin-left: -30px;
    margin-bottom: 30px;
}

.display_inline {
    float: left;
}

.btn-primary {
    display: inline-block;
    zoom: 1;
    vertical-align: baseline;
    margin: 0 2px;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    font-size: 1.4em;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #fef4e9;
    background-color: $orange;
    text-transform: none;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: #ffc272;
}

.orange_divider {
    width: 100%;
    height: 10px;
    background-color: $orange;
}

.aqua, .aqua a {
    color: #6ACEC9;
    font-size: 1.1em;
    margin-top: 6px;
}

.display_inline.aqua li:first-child:after {
    content: "|";
    margin-left: 10px;
}

.panel-group.collapse.in#glossary_list .panel-default .panel-heading, .panel-group.collapse#glossary_list .panel-default .panel-heading, .panel-group.collapsing#glossary_list .panel-default .panel-heading {
    background-color: #f5f5f5;
    min-height: auto;
    border-top-right-radius: 0px;
    padding-left: 10px;
    padding-top: 10px;
}

#glossary_list .panel-body {
    padding: 16px 10px 10px 10px;
    font-family: Helvetica, Arial, sans-serif;
}

.panel-default > .panel-heading {
    background-color: $teal;
    min-height: 85px;
    border-top-right-radius: 80px;
    color: #fff !important;
    padding-left: 40px;
    padding-top: 20px;

    h1, h2, h3, h4, h5 {
        color: #fff !important;
    }
}

.panel-default.side p {
    padding-top: 8px;
    padding-right: 10px;
}

.panel-default.side textarea {
    margin-bottom: 10px;
}

/* this is for the orange and green boxes on the side. it automatically switches the color from orange to green at every other box*/
.pos_side > .panel.panel-default:nth-child(odd) .panel-heading {
    background-color: $orange !important;
    color: #fff !important;
    min-height: 85px;
    border-top-right-radius: 80px;
    color: #fff !important;
    padding-left: 25px;
    padding-top: 20px;
    padding-right: 23px;

    h1, h2, h3, h4, h5 {
        color: #fff !important;
    }
}

.display_inline.aqua li:first-child:after {
    content: "|";
    margin-left: 4px;
    margin-right: 3px;
}

/* sign in only | no unique class add class top-signin */
.btn-primary {
    margin: 0px 6px;
}

.panel-heading h4 {
    font-size: .81em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 3px;
}

.panel-heading h3 {
    color: #fff;
}

.panel-default.side {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    min-height: 230px;
    -webkit-box-shadow: 10px 10px 0px -2px rgba(30, 180, 176, 1);
    -moz-box-shadow: 10px 10px 0px -2px rgba(30, 180, 176, 1);
    box-shadow: 10px 10px 0px -2px rgba(30, 180, 176, 1);
    margin-top: 80px;
}

.fa.fa-arrow-right {
    color: $orange !important;
}

.pos_side {
    margin: auto;
    margin-top: 30px;
    max-width: 425px;
    
       .panel-heading h4 {
        
        padding:0px;
    }
}

.bottom_panel {
    margin-bottom: 100px;
}

#y4y-main-wrap {
    padding-bottom: 100px;
    padding-top: 30px;
}

.doe-logo {
    transform: scale(0.5);
    margin-left: -25%;
}

.newsletter {
    width: 200px;
    margin-bottom: 20px;
    font-size: 2.0em;
}

ol.display_inline.aqua.top {
    padding-left: 0px;
}

.display_inline .top {
    width: 146px;
}

.adjust_input {
    margin-top: 8px;
}

.icon_pos {
    float: left;
}

.p_icon {
    margin-left: 60px;
    margin-bottom: 20px;
}

.search {
    position: relative;
    top: 25px;
    width: 100%;
}

.input-search {
    width: 100%;
    max-width: 350px;
    border: solid 2px #bcbcbc;
}

.fileppt {
    display: block;
    min-height: 50px;
}

.home_links {
    color: #fff;
    margin-top: -60px;
    margin-left: 200px;
    height: 34px;
    color: $teal;
}

.home_links a {
    color: #a4abaa;
}

input[type=text], input[type=password] {
    width: 100%;
    max-width: 270px;
    border: solid 2px #bcbcbc;
    margin-bottom: 15px;
}

input[type=radio], input[type=checkbox] {
    margin: 0 10px 0 0 !important;
    vertical-align: top;
}

h5.join {
    font-style: italic;
    line-height: 1.1;
    font-size: 16px;
}

.full-width {
    display: block;
    width: 100%;
}

.form-row {
    display: block;
    margin-bottom: 20px;
}

.pad-top {
    margin-top: 30px;
}

.btn-clear {
    background-color: #fff;
    border: none;
    color: #838282;
    position: relative;
    left: -40px;
}

.btn-clear.sub {
    left: -30px;
}

#y4y-home {
    .logo_pos {
        margin-top: -36%;
        margin-left: 8%;
        transform: scale(1.1, 1.1);
    }

    .input-search {
        border: solid 3px #399A9A;
        background-color: #88827E;
    }

    .doe-logo {
        margin-top: -40%;
    }

    .header_font {
        font-size: 2.0em;
        color: #fff;
        top: 60%;
    }

    .color_aqua {
        background-color: $teal;
        height: 700px;
    }

    .aqua_background_small {
        background-color: $teal;
        overflow: auto;
        padding: 30px 0px;

        h2 {
            margin-top: 0px;
        }
    }

    .legend_box {
        min-width: 290px;
        min-height: 200px;
        background-color: #fff;
        margin: 0px auto;
        border: solid #000 1px;

        h5 {
            font-weight: 100;
            font-size: 2.1em;
        }
    }

    .color_white {
        background-color: #fff;
        margin: 0 auto;
        width: 100%;
    }

    .inline {
        display: inline;
    }

    .row_bottom_border .row {
        border-bottom: 1px solid #afafaf;
    }

    .row_bottom_border .row:last-child {
        border-bottom: 0px;
    }

    .circle {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: $teal;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        margin-top: 30px;
    }

    .header_font {
        font-family: 'Muli', sans-serif;
        padding: 20px;
    }
}

p.center {
    padding-top: 30px;
}

p.center:last-child {
    padding-bottom: 40px;
}

.desc {
    padding: 20px;
}

.orange_grad {
    background: rgba(240, 160, 89, 1);
    background: -moz-linear-gradient(left, rgba(240, 160, 89, 1) 0%, rgba(253, 188, 64, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240, 160, 89, 1)), color-stop(100%, rgba(253, 188, 64, 1)));
    background: -webkit-linear-gradient(left, rgba(240, 160, 89, 1) 0%, rgba(253, 188, 64, 1) 100%);
    background: -o-linear-gradient(left, rgba(240, 160, 89, 1) 0%, rgba(253, 188, 64, 1) 100%);
    background: -ms-linear-gradient(left, rgba(240, 160, 89, 1) 0%, rgba(253, 188, 64, 1) 100%);
    background: linear-gradient(to right, rgba(240, 160, 89, 1) 0%, rgba(253, 188, 64, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0a059', endColorstr='#fdbc40', GradientType=1 );
    overflow: hidden;
    min-height: 200px;

    p {
        color: #fff;
        padding-bottom: 30px;
        max-width: 710px;
        font-size: 1.2em
    }

    .comp_teal {
        transform: scale(0.6);
        position: absolute;
        margin-left: -215px;
        margin-top: -220px;
    }
    
    a {
        color: #fff;
        font-weight: 900;
    }
    
    
       a:hover {

       text-decoration: underline;
    }
    
    h3 {
        color: #fff;
    }
  
}

.padding_home {
    padding-left: 56px;
    padding-top: 8px;
}

.no_marg_bottom {
    margin-bottom: 0px;
}

hr {
    width: 60% !important;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
}

.feed_item {
    margin-bottom: 40px;

    h3 {
        margin-top: 28px;
        font-size: 1.1em;
        text-transform: uppercase;
        color: #585757;
        font-family: sans-serif !important;

        a {
            margin-bottom: 2px;
            font-size: 1.1em;
            text-transform: uppercase;
            color: #585757;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

#afterschool-timeline p {
    min-height: 80px;
}

h3 a:hover {
    text-decoration: underline;
}

.header_font_contacts {
    position: absolute;
    font-size: 1.7em;
    left: 6%;
    margin-top: -22%;
    color: #fff;
}

.petal_first img {
    margin-top: -120px;
    margin-left: -1%;
    transform: scale(0.85);
}

.petal_second {
    width: 400px;
    background-color: #ef9e5a;
    z-index: 10;
    display: inline-block;
    border-top-right-radius: 230px;
    border-bottom-left-radius: 230px;
    height: 505px;
    width: 310px;
    color: #D8D6D6;
    z-index: 30;
    min-height: inherit;
    -webkit-box-shadow: 10px 10px 5px 0px #137c80;
    -moz-box-shadow: 10px 10px 5px 0px #137c80;
    box-shadow: 10px 10px 5px 0px #137c80;
    display: inline-block;
    margin-top: 70px;
    margin-left: -12%;
    padding-top: 20px;

    h1 {
        font-size: .95em;
    }

    .nav_two_line {
        margin-top: -6px;
    }

    .nav_three_line {
        margin-top: -16px;
    }
}

.petal_third img {
    right: -4%;
    transform: scale(0.9);
    margin-top: 168px;
}

.pos_petal {
    display: inline-block;
    position: absolute;
}

.pad_20 {
    padding: 20px;
}

.pad_40 {
    padding: 40px;
}

.btn-clear {
    background: transparent;
    border: none;
}

.home_text {
    position: absolute;
    right: 35%;
    font-size: 2.7em;
    font-family: 'Arvo', serif !important;
    font-weight: 600;
}

.navstylenum {
    font-size: 2em;
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: 4px solid $orange;
    color: $orange;
    float: left;
    border-radius: 50px;
    font-size: 5rem;
    text-align: center;
    vertical-align: middle;

    /* line-height: 85px; */
    margin-bottom: 4%;
    margin-left: -70px;
    z-index: 12;
    position: absolute;
}

ul.navstyle li {
    list-style: none;
    color: #fff;
    list-style-type: none;
    margin-bottom: 15px;
}

.navstylecont {
    display: inline-block;
    font-size: 2.5rem;
    min-height: 5%;
    min-width: 200px;
    margin-left: 0px;
    position: absolute;
    margin-top: 30px;

    h1 {
        margin-top: 10px;
        color: #fff;

        a:hover .navstylecont {
            color: #fffa6b;
        }
    }
}

.navstyle {
    margin-top: 58px;
}

.orange_grad h2 a, .orange_grad h2 {
    color: #000;
    font-size: 1.35em;
    margin-bottom: 20px;

    a {
        color: #000;
    }
}



/* for the nav buttons on the home page*/

.button {
    background-color: $orange;
    color: #fff;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #ffc272;
        color: #fff;
    }
}

.button a:hover {
    color: #fff;
}

.pngButton {
    background: url("../img/woman_short_hair_icon.png") no-repeat #fff;
    height: 97px;
    width: 97px;
    display: block;
    cursor: pointer;
    border-radius: 50%;
    background-position: 43% 105%;
    border: solid 2px $orange;
    display: inline-block;
    transform: scale(0.87);
}

.pngButton:hover {
    background-color: #fffa6b;
}

.pngButton P {
    padding: 0 20px;
}

.pngButton:hover + .navstylecont h1 {
    color: #fffa6b;
}

.navstylecont h1:hover {
    color: #fffa6b;
}

.youth {
    background: url("../img/woman_pony_tail_icon.png") no-repeat #fff;
    background-position: 55% 105%;
}

#highlight a.youth, span.youth {
    background-image: none;
}

.state {
    background: url("../img/man_beard_icon.png") no-repeat #fff;
    background-position: 89% 105%;
}

ul.home_nav {
    position: absolute;
    margin-left: -124px;
}

.btn-secondary {
    margin-left: 0px;
    border: solid 2px #9D9D9D;
    height: 38px;
    color: #888888;
    font-size: 1.1em;
    background-color: #595959;
    margin-bottom: 20px;
    line-height: .7;
}

.icon_size {
    transform: scale(0.4);
    margin-bottom: -50px;
}

.footerlogos img {
    max-width: 60px;
    margin-top: -15px;
}

.blog_pad {
    padding-right: 20px;
}

h3#reply-title {
    
    color:$orange;
}


.label_side_panel {
    color: $orange;
    font-size: 1.1em;
    margin-top: 2px;
    font-family: 'Arvo', 'Georgia', serif !important;
}

.side_panel_link {
    font-family: 'Arvo', 'Georgia', serif !important;
    color: $orange;
}

.side_panel_link a, .side_panel_link a:hover, .side_panel_link a:focus {
    color: $orange;
}

.side_panel_link {
    color: #000;
}

.side_panel_link:last-child {
    border-bottom: 0px;
}

.rm_row_margin {
    margin-left: auto;
    margin-right: auto;
}

.legend {
    height: 20px;
    width: 20px;
    background-color: #555;
    float: left;
    margin-right: 10px;
}

.center_legend {
    margin: 0 auto;
    width: 70%;
    padding-top: 3%;
}

.legend_text {
    clear: right;
    margin-bottom: 10px;
}

.aqua_background {
    background-color: $teal;
}

.blue {
    background-color: #3454D0;
}

.purple {
    background-color: #8449B3;
}

.gray {
    background-color: #DEDEDE;
}

.orange {
    background-color: $orange;
}

.green {
    background-color: #51AC48;
}

.header_contacts {
    color: #696868;
    font-family: 'Arvo', 'Georgia', serif !important;
    font-size: 1.3em;
    font-weight: 800;
}

.university_contacts {
    color: #777;
    font-size: 1.6em;
    font-weight: 700;
}

.details_button {
    background-color: $teal;
    color: #fff;
    border-bottom: none;
    border-radius: 0px;
    font-weight: 500;
    min-width: 167px;
    font-size: 1.6em;
    letter-spacing: 1px;
    padding: 4px 15px;
}

.details_button:active, .details_button:focus, .details_button:hover {
    background-color: #11a399;
}

.vert_center {
    margin-top: 4%;
}

.background_color_gray {
    background-color: #f3f3f3;
}

.background_color_dk_gray {
    background-color: #c2c2c2;
}

.size_70 {
    max-width: 70%;
}

.test_class_paula {
    display: none;
}

.panel-body {
    padding: 16px 40px 40px 40px;

    img {
        width: 100%;
        height: auto;
    }

    a[class="filepdf"], a[class="filedoc"] {
        display: block;
        margin: 5px 0;
    }

    ul {
        display: block;
        list-style: none;
        color: $orange;
        font-size: 1.1em;
        font-family: 'Arvo', 'Georgia', serif !important;
        padding: 0px;

        li {
            display: block;
            margin: 10px 0;

            a {
                color: $orange;
                text-decoration: none;
                display: block;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.panel-ex h4.panel-title {
    padding: 4px;
    background-color: #f9f9f9;
}

.panel-ex h4.panel-title a {
    color: #717171;
    font-weight: 200;
    font-size: .9em;
}

#notes_edit .btn.btn-primary {
    margin-bottom: 14px;
}

.btn.btn-primary a {
    color: #fff;
}

.next.button, .prev.button {
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.FloatRight {
    float: right;
}

.FloatLeft {
    float: left;
}

/*for the curved panels on the right*/

.curved_panel {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    min-height: 230px;
    -webkit-box-shadow: 10px 10px 0px -2px #1eb4b0;
    -moz-box-shadow: 10px 10px 0px -2px #1eb4b0;
    box-shadow: 10px 10px 0px -2px #1eb4b0;
    max-width: 340px;
    border-left: solid #ddd 1px;
    margin-bottom: 70px;

    .curved_panel_body {
        padding: 10px 34px 10px 50px;

        img {
            width: 100%;
            height: auto;
        }

        ul.refine-search {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                ul {
                    list-style: none;
                    display: block;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.curved_panel h3 {
    background-color: #1ebcb3;
    min-height: 70px;
    border-top-right-radius: 80px;
    color: #fff !important;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;

    a {
        color: #fff;
    }
}

.curved_panel:nth-child(odd) h3 {
    background-color: $orange;
}

/* label*/

.contactforms label {
    color: $orange;
}

/* code for the navigation to project based learning*/

#progressbar {
    margin: 50px 0;
}

#progressbar, .progressbar {
    width: 100%;
    clear: both;
    font-size: 90%;
}

#progressbar H2, .progressbar H2 {
    color: #2aa4ea;
    margin-top: 40px;
    margin-bottom: 16px;
}

#progressbar, .progressbar {
    width: 100%;
    clear: both;
    font-size: 90%;
    padding-top: 10px;
}

#progressbar UL, .progressbar UL, #progressbar LI, .progressbar LI {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#progressbar > UL, .progressbar > UL {
    position: relative;
    z-index: 1000;
}

#progressbar > UL > LI, .progressbar > UL > LI {
    vertical-align: top;
    display: block;
    clear: both;
}

#progressbar > UL > LI > UL, .progressbar > UL > LI > UL {
    margin-right: 1em;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

#progressbar > UL > LI > UL:after, .progressbar > UL > LI > UL:after {
    content: " ";
    width: 0;
    height: 0;
    display: block;
    clear: both;
}

#progressbar > UL > LI > UL > LI, .progressbar > UL > LI > UL > LI {
    min-width: 34px;
    max-width: 35px;
    float: left;
    height: 34px;
    text-align: center;
    background-color: #505e65;
    padding: 4px 1px;
    margin: 3px;
    border-radius: 30px;
}

#progressbar > UL > LI > UL > LI A, .progressbar > UL > LI > UL > LI A {
    padding: 6px 0px 5px;
    display: block;
    color: #fff;
    text-decoration: none;
    position: relative;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 1px 1px #fff;
    margin-top: -5px;
    margin-left: -1px;
}

#progressbar > UL > LI > UL > LI A.visited, .progressbar > UL > LI > UL > LI A.visited {
    background: #000;
    width: 36px;
    height: 36px;
}

#progressbar > UL > LI > UL > LI A.current, .progressbar > UL > LI > UL > LI A.current {
    border: solid 4px #ff790e;
    margin-top: -5px;
    margin-left: -2px;
    margin-right: -3px;
    line-height: 1.3em;
}

#progressbar > UL > LI > UL > LI A B, .progressbar > UL > LI > UL > LI A B {
    /*border:solid 1px #0b4b70;*/

    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    display: block;

    /*margin:0 5px 2px*/
}

#progressbar > UL > LI > UL > LI A SPAN, .progressbar > UL > LI > UL > LI A SPAN {
    display: none;
    border: solid 1px #2aa4ea;
    background: #fff;
    padding: 10px 20px;
    text-align: left;
    white-space: nowrap;
    margin-top: 4px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
}

#progressbar > UL > LI > UL > LI A:hover, .progressbar > UL > LI > UL > LI A:hover {
    background: #000;
}

#progressbar > UL > LI > UL > LI A:hover SPAN, .progressbar > UL > LI > UL > LI A:hover SPAN {
    display: block;
    z-index: 1001;
    color: #000;
}

/*for flex slider*/

.flex-container a:active, .flexslider a:active, .flex-container a:focus, .flexslider a:focus {
    outline: none;
}

.slides, .flex-control-nav, .flex-direction-nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.flexslider {
    margin: 0 0 20px;
    padding: 0;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
    width: 100%;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

.slides:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

.no-js .slides > li:first-child {
    display: block;
}

.flexslider {
    zoom: 1;
    max-height: 450px;
    position: relative;
}

.flex-viewport {
    max-height: 450px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    transition: all 1s ease;

    /*-moz-box-shadow:0 1px 5px rgba(0,0,0,0.6);-webkit-box-shadow:0 1px 5px rgba(0,0,0,0.6);box-shadow:0 1px 5px rgba(0,0,0,0.6);*/

    position: relative;
}

.loading .flex-viewport {
    max-height: 300px;
}

.flexslider .slides {
    zoom: 1;
}

.carousel li {
    margin-right: 5px;
}

.flex-direction-nav {
    *height: 0;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: -20px 0 0;
    display: block;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: -36px;
}

.flex-direction-nav .flex-prev {
    left: -36px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: 0.3 !important;
    filter: alpha(opacity = 30);
    cursor: default;
}

.flex-control-nav {
    width: 100%;
    bottom: 0px;
    text-align: center;
    border: 0;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    border: 0;
    zoom: 1;
    padding: 20px 10px 0;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    border: 0;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0, 0, 0, 0.7);
}

.flex-control-paging li a.flex-active {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    cursor: default;
}

.flex-control-thumbs {
    margin: 5px 0 0;
    overflow: hidden;
}

.flex-control-thumbs li {
    width: 27.5%;
    float: left;
    margin: 0;
    padding: 2.91%;
}

.flex-control-thumbs img {
    width: 100%;
    display: block;
    cursor: pointer;
}

.flex-active {
    outline: none;
}

/* for accordions*/

.expandable h2, .expandable h3 {
    -webkit-transition: all 0.2 ease;
    -moz-transition: all 0.2 ease;
    -ms-transition: all 0.2 ease;
    -o-transition: all 0.2 ease;
    transition: all 0.2 ease;
    padding: 10px;
}

ul.coach {
    
    padding-left:0px;
    
    li.expandable {
        margin: 20px 0;
    }

    li.expandable {
        margin: 20px 0;

        &:first-child {
            margin: 0 0 20px 0;

            &:first-child {
                margin: 0 0 20px 0;
            }
        }
    }
}

.coach.parent {
    h4 {
        font-weight: normal;
        font-size: 16px;
        color: #636363;
        font-family: Helvetica, Arial, sans-serif;
    }
    
    h4:hover {
        color: #636363;
    }
    
    li {
        background-color: #e2e2e2;
        padding: 7px;
        border-radius: 10px;
    }
    
}






#learn-more-library .expandable h2 {
    font-size: 1.5em;
}



.projectbasedlearning, .civic, .alignment, .stem, .partnerships, .family, .literacy, .ccr

{
    h2 {
        font-size: 1.5em;
    }
}

.expandable h3 {
    font-weight: normal;
}

/* Odins Edits*/

#accordion .expandable.bucket {
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
}

#accordion .expandable.bucket:first-child h2 {
    border-top-right-radius: 0;
}

#accordion .panel-heading {
    padding: 0;
}

#accordion a, #accordion h2, #accordion a:hover, #accordion a:focus {
    text-decoration: none;
}

.expandable h3 {
    font-size: 1.2em;
    color: $teal;
}

.expandable.bucket h2 {
    background-color: #353535;
    line-height: 48px;
    padding-top: 32px;
}

.expandable.bucket:first-child h2 {
    border-top-right-radius: 80px;
    background-color: #353535;
}

.expandable.bucket:nth-child(2) h2 {
    background-color: #424242;
}

.expandable.bucket:nth-child(3) h2 {
    background-color: #545454;
}

.expandable.bucket:nth-child(4) h2 {
    background-color: #6a6a6a;
}

.expandable.bucket:nth-child(5) h2 {
    background-color: #777;
}

.expandable.bucket:nth-child(6) h2 {
    background-color: #9b9a9a;
}

.expandable.bucket:nth-child(7) h2 {
    background-color: #a1a1a1;
}

.expandable.bucket:nth-child(8) h2 {
    background-color: #9b9a9a;
}

.expandable.bucket:nth-child(9) h2 {
    background-color: #777;
}

.expandable.bucket:nth-child(10) h2 {
    background-color: #6a6a6a;
}

.expandable.bucket:nth-child(11) h2 {
    background-color: #545454;
}

.expandable.bucket:nth-child(12) h2 {
    background-color: #6a6a6a;
}

.expandable.bucket:first-child h2 {
    border-top-right-radius: 80px;
}

.expandable.bucket h2 {
    border-top-right-radius: 0px;
}

.expandable.bucket {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    min-height: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
    border-left: solid #ddd 1px;
    margin-bottom: 0px;

    h2 {
        margin: 0px;
    }

    .content {
        display: none;
    }
}

.projectbasedlearning h3 {
    padding-top: 24px;
    padding-bottom: 18px;
}

li.expandable, .expandable, #projects-over-time-coaching-moment .expandable, #spark-interest-widen-horizons-coaching-moment {
    h4:after, h3:after, h2:after {
        content: "\f063";
        font-family: FontAwesome;
        left: 5px;
        position: relative;
        font-size: .8em;
        top: -2px;
    }

   
}

#glossary li.expandable h4:after {
    margin-left: -18px;
    background-color: #fff;
}

.prev.button::before {
    content: '\f060';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    margin: 0 -8px -0 0;
    text-decoration: none;
    top: 2px;
    position: relative;
}

.next.button::after {
    content: '\f061';
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 1.2em;
    margin: 0 0 0 -7px;
    text-decoration: none;
    position: relative;
    top: 2px;
}

.bucket {
    a[class="filepdf"], a[class="filedoc"] {
        display: block;
        margin: 5px 0;
    }
}

#tools .expandable h3 {
    margin-left: -10px;
}

#tools .expandable h4:after, #tools .expandable h3:after, #learn-more-library .expandable h4:after, #learn-more-library4 .expandable h3:after, #learn-more-library4 #learn-more-library4 li.expandable h4:after, #learn-more-library4 li.expandable h3:after, #learn-more-library4 .expandable h4:after, #learn-more-library .expandable h3:after, #learn-more-library li.expandable h3:after, #learn-more-library .expandable h4:after, #learn-more-library .expandable h3:after, #start .expandable h3:after, #start li.expandable h3:after, #start .expandable h4:after, #start .expandable h3:after, #know-families-and-their-cultures-coaching-moment .expandable h4:after, #learn-more-library2 .expandable h3:after {
    display: none;
}

/* for rainbow accordion */

/*.bucket.projectbasedlearning.expandable .decorate {
margin: 0;
background-color: #db2211;
background-image: url("/assets/img/badge_projectbasedlearning-1.png");
background-position: 15px center;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.civic.expandable .decorate {
background-color: #461615;
background-image: url("/assets/img/badge_civic.png");
background-position: 15px center;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.alignment.expandable .decorate {
background-color: #106d61;
background-image: url("/assets/img/badge_alignment.png");
background-position: 15px 25px;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.stem.expandable .decorate {
background-color: #d97109;
background-image: url("/assets/img/badge_stem-1.png");
background-position: 15px 25px;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.partnerships.expandable .decorate {
background-color: #7f437f;
background-image: url("/assets/img/badge_partnerships.png");
background-position: 15px 25px;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.family.expandable .decorate {
background-color: #1870a2;
background-image: url("/assets/img/badge_family-1.png");
background-position: 15px 25px;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.literacy.expandable .decorate {
background-color: #990D6E;
background-image: url("/assets/img/badge_literacy-1.png");
background-position: 15px 25px;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.ccr.expandable .decorate {
background-color: #84A253;
background-image: url("/assets/img/badge_ccr-1.png");
background-position: 15px 25px;
background-repeat: no-repeat;
text-align: left;
padding: 30px 30px 20px 80px;
color: #fff;
display: block;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
}

.bucket.family.expandable, .bucket.ccr.expandable, .bucket.literacy.expandable, .bucket.partnerships.expandable, .bucket.projectbasedlearning.expandable, .bucket.civic.expandable, .bucket.alignment.expandable, .bucket.stem.expandable {
h4, h4 a {
color: #000;
font-weight: normal;
}

h3, h3 a {
color: $orange;
}
}







/* accordion  /tools */

.bucket.projectbasedlearning.expandable .decorate {
    background-color: $tools-acc-odd;
    background-image: url("/assets/img/badge_projectbasedlearning.png");
}

.bucket.civic.expandable .decorate {
    background-color: $tools-acc-even;
    background-image: url("/assets/img/badge_civic.png");
}

/* ironically, not aligned */

.bucket.alignment.expandable .decorate {
    background-color: $tools-acc-odd;
    background-image: url("/assets/img/badge_align.png");
}

.bucket.stem.expandable .decorate {
    background-color: $tools-acc-even;
    background-image: url("/assets/img/badge_stem.png");
}

.bucket.partnerships.expandable .decorate {
    background-color: $tools-acc-odd;
    background-image: url("/assets/img/badge_strength.png");
}

.bucket.family.expandable .decorate {
    background-color: $tools-acc-even;
    background-image: url("/assets/img/badge_family.png");
}

.bucket.literacy.expandable .decorate {
    background-color: $tools-acc-odd;
    background-image: url("/assets/img/badge_literacy.png");
}

.bucket.ccr.expandable .decorate {
    background-color: $tools-acc-even;
    background-image: url("/assets/img/badge_ccr.png");
}

.bucket.expandable .decorate {
    background-position: 15px center;
    background-repeat: no-repeat;
    text-align: left;
    padding: 30px 30px 20px 80px;
    color: #fff;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background-size: 56px;
}

h2.decorate {
    display: block;
    color: #fff;
    padding: 10px 5px;
    cursor: pointer;

    a {
        color: #fff;
    }
}

.bucket.family.expandable, .bucket.ccr.expandable, .bucket.literacy.expandable, .bucket.partnerships.expandable, .bucket.projectbasedlearning.expandable, .bucket.civic.expandable, .bucket.alignment.expandable, .bucket.stem.expandable {
    h4, h4 a {
        color: #000;
        font-weight: normal;
    }

    h4:after, h4 a:after {
        content: none;
    }

    h3, h3 a {
        color: $orange;
    }

    h3:after, h3 a:after {
        content: none;
    }
}

/*for simple accoridian in modules*/

li.expandable h3 {
    font-size: 1.2em;
    color: #fff;
    background: #ef9e5a;
    margin-left: -38px;
}

li.expandable h3:hover {
    opacity: 0.8;
    filter: alpha(opacity = 50);
    text-decoration: none;
}

li.expandable {
    list-style: none;
}

/*bucket styling. will change*/
.bucket {
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
    min-height: 230px;
    -webkit-box-shadow: 10px 10px 0px -2px #1eb4b0;
    -moz-box-shadow: 10px 10px 0px -2px #1eb4b0;
    box-shadow: 10px 10px 0px -2px #1eb4b0;
    max-width: 100%;
    border-left: solid #ddd 1px;

    /* margin-bottom: 25%;*/

    ul, .content {
        padding: 30px 70px 60px 70px;
    }

    .entry-content {
        padding: 0px 70px 0px 70px;
    }

    .footerbox {
        padding: 20px 70px 20px 70px;
    }

    p {
        padding: 10px 25px;
    }
}

#reading-and-interpreting-data .bucket p {
    padding: 0px;
}

.bucket h2 {
    background-color: #1ebcb3;
    min-height: 85px;
    border-top-right-radius: 80px;
    color: #fff !important;
    padding-left: 40px;

    //padding-top: 20px;
    line-height: 85px;
}

.bucket h2 a {
    color: #fff;
}

.bucket.expandable {
    h2, h2.decoratex {
        font-size: 1.5em;
    }
}

.bucket:nth-child(odd) h2 {
    background-color: $orange;
    color: #fff !important;
}

.content-box.bucket {
    margin-bottom: 60px;
}

/*nav for afterschool section*/

ul.AstkAreaNav {
    background-color: $orange;
    color: #fff;
    min-height: 60px;
    font-size: 1.2em;
    border-radius: 10px;
    overflow: auto;
    padding-left: 8px;
    text-align: center;
    padding-right: 8px;

    li {
        display: inline-block;
        background-repeat: no-repeat;
        list-style-type: none;
        padding-right: 5px;
        padding-left: 5px;
        line-height: 60px;
        align-content: center;

        a {
            color: #fff;
        }

        &:hover {
            background-color: #f57b15;
        }
    }
}

.sub_nav_orange {
    width: 93%;
}

/* after school section home */

.nav_toolkit {
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f1fcfd;
    border: 2px dotted #ffa802;
}

/* blog styling */

.content-box.bucket.blog h2 {
    background-color: transparent;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;

    a {
        color: $orange;
    }
}

.footerbox {
    border-top: solid 3px hsla(0, 0%, 100%, 0.3);
}

.content-box.bucket.blog {
    border-left: none;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 43%, rgba(235, 250, 246, 1) 71%, rgba(194, 242, 232, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(43%, rgba(255, 255, 255, 1)), color-stop(71%, rgba(235, 250, 246, 1)), color-stop(100%, rgba(194, 242, 232, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 43%, rgba(235, 250, 246, 1) 71%, rgba(194, 242, 232, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 43%, rgba(235, 250, 246, 1) 71%, rgba(194, 242, 232, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 43%, rgba(235, 250, 246, 1) 71%, rgba(194, 242, 232, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 43%, rgba(235, 250, 246, 1) 71%, rgba(194, 242, 232, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#c2f2e8', GradientType=0 );
    -webkit-box-shadow: 10px 10px 0px -2px #d2f5f4;
    -moz-box-shadow: 10px 10px 0px -2px #d2f5f4;
    box-shadow: 10px 10px 0px -2px #d2f5f4;

    p {
        padding: 0px;
    }

    a {
        color: $orange;
        font-weight: 700;
    }
}

.blog_side {
    p, p a {
        font-size: 1.1em;
        color: #828282 !important;
    }

    ul {
        font-size: 1.1em;
        list-style: none;

        li {
            border-bottom: solid 2px #c6c6c6;
            padding-bottom: 6px;
            padding-top: 6px;
        }
    }
}

/* content fix images */

#afterschool-timeline .FloatRight img {
    float: right;
    position: relative;
    top: 15px;
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Standard table */

.table-y4y tr th {
    background-color: $teal !important;
    color: #fff;
}

/* TA forms*/

input#txtEmail {
    border: 2px solid;
    border-color: #bcbcbc;
    max-width: 351px;
}

#pnlForm textarea {
    width: 85%;
    min-height: 100px;
    border: solid;
    border-color: #bcbcbc;
}

/* discussion board*/

.fm-forum-topic .fm-heading h4 a {
    color: #5f5f5f;
}

/*js video placement*/

.video-js {
    right: 20px;
}

/* target firefox only*/

/*@-moz-document url-prefix() { 

.navstylecont

{
margin-top: 30px;
margin-left:30px;
}

}


/* targets safari 7.1 and up*/
/*_::-webkit-full-page-media, _:future, :root {


.navstylecont {

margin-top: 30px;
margin-left:30px;
}
}









/*accordion start page bootstrap */

.accordion .accordion-group a .accordion-heading,.accordion .accordion-group .accordion-heading  {
    background-color: $orange;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 1.2em;
    color: #fff !important;
    margin-bottom: 17px;
    padding: 15px;
}


.accordion .accordion-group .accordion-heading a {
    
    color:#fff;
}


/* start accordion fix*/


.panel-heading h4 {
    
     
    vertical-align: middle;
    padding-left: 20px;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 17px;
    padding: 15px;
}


#career-accordion .panel-default > .panel-heading 

{
    background-color: $orange;
    min-height: 85px;
    border-top-right-radius:0px;
    color: #fff !important;
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    font-family: Helvetica, Arial, sans-serif;
}

h4.panel-title
{
     font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    min-height:50px;
    margin-bottom: 0px;
    margin-top:30px;
}
#career-accordion .panel-default

{
    border: none;
}

#career-accordion {
.spacing_title
    {

        margin-top: 17px;
        
    }
    
}
.panel-collapse.collapse, .panel-collapse.collapsing {
    
    background-color: #fbfbfb;
    padding:14px;
}

/* .accordion-heading {
    background-color: $orange;
    vertical-align: middle;
    padding-left: 20px;
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 17px;
    padding: 15px;
     
     a {
         color: #fff;
     }
}*/

.accordion .accordion-group a:hover .accordion-heading {
    opacity: 0.5;
    text-decoration: none;
    color: #000;
}

.accordion .accordion-group:nth-child(2) a .accordion-heading {
    background-color: #ffae6b;
}

.accordion .accordion-group:nth-child(3) a .accordion-heading {
    background-color: #ffa55b;
}

.accordion-inner {
    background-color: #fbfbfb;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a.accordion-toggle:hover {
    text-decoration: none;
}

.active {
    background-color: #ff6b1c;
    opacity: 1.0;
}


.tab-pane.active {
    background-color: #fff;
}

/* home page button*/

#y4y-home .btn-secondary {
    margin-bottom: 0px;
}

 
#y4y-home .search-form, .contact-join {
    padding-right: 40px;
    padding-left: 5px;
}

/* fixes random red box on support families module page*/

#popup {
    border: none;
}

/*readiness check module css*/

.selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contact-join {
    padding-bottom: 10px;
}

/* for webinar page*/

.webinar_anchor {
    text-align: left;
}

img.full.img-responsive {
    width: 100%;
}

///////////  STYLE THE GLOSSARY //////////////

.selectable .ui-selectee {
    background: #e4f3fc;
    cursor: pointer;
}

.selectable li {
    padding: .5em 1em;
    margin: 0.5em 0 !important;
}

.selectable .ui-selected {
    background: #ff790e;
}

///////////  STYLE THE GLOSSARY //////////////

.expandable {
    cursor: pointer;

    h2 {
        -webkit-transition: all 0.2 ease;
        -moz-transition: all 0.2 ease;
        -ms-transition: all 0.2 ease;
        -o-transition: all 0.2 ease;
        transition: all 0.2 ease;

        &:hover {
            opacity: 0.75;
            -webkit-transition: all 0.2 ease;
            -moz-transition: all 0.2 ease;
            -ms-transition: all 0.2 ease;
            -o-transition: all 0.2 ease;
            transition: all 0.2 ease;
        }
    }

    h3 {
        -webkit-transition: all 0.2 ease;
        -moz-transition: all 0.2 ease;
        -ms-transition: all 0.2 ease;
        -o-transition: all 0.2 ease;
        transition: all 0.2 ease;
    }

    h4 {
        color: $teal;
        font-size: 18px;

        &:hover {
            color: $teal;
            text-decoration: underline;
        }

        a {
            font-family: Helvetica, Arial, sans-serif;
        }
    }

    .content {
        margin-bottom: 30px;
    }

    > p, .content {
        display: none;
        cursor: text;
    }
}

///////////  END STYLE THE GLOSSARY //////////////

/////////////////// BEGIN STYLE VIDEOS FOR AFTERSCHOOL PAGES //////////////////

.AstkBlurb {
    background-color: $orange;
    display: block;
    color: $white;
    padding: 20px;
    margin: 2em 0;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;

    .AstkMedia {
        display: block;
        color: $white;

        video {
            display: block;
            width: 100% !important;
            max-width: 100%;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
            background-color: #000;
        }

        p {
            display: block;
            text-align: left;
            font-size: 14px;
            color: $white;
        }
    }
}

/////////////////// END STYLE VIDEOS FOR AFTERSCHOOL PAGES //////////////////

///////////////////// CENTER THE BLOG PAGINATION ///////////////////////

.blog-pagination {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    .pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
        background-color: $teal;
        border-color: $teal;
        cursor: pointer;
        color: #fff;
    }

    .pagination > li > a, .pagination > li > span {
        color: $teal;
    }
}

.pagination a {
    color: #1ebcb3;
    padding: 3px;
}

#y4y-home .pos_button {
    margin-top: -2px;
    margin-left: 0;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #y4y-home .search {
        top: -55px !important;
    }

    #y4y-home .pos_button {
        top: -24px !important;
    }
}

@media all and (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
    .navstylecont {
        margin-top: -80px;
        margin-left: 48px;
    }
}

@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
    .navstylecont {
        margin-left: 0px;
        margin-top: 28px;
    }
}

///////////////////// END CENTER THE BLOG PAGINATION ///////////////////////

///////////////// FADE IMAGES ON HOVER ///////////////////

img.fademe {
    &:hover {
        @include image-fade;
    }
}

//////////////// END FADE IMAGES /////////////////////////

/////////////////////////// RESTYLE BUCKETS //////////////////////////

.bucket.tools.materials {
    border-radius: 0;
    border: 1px solid;
}

.y4y-main-content .bucket.tools.materials h2, .y4y-main-content .bucket.tools.materials {
    background: transparent;
    color: #ef9e5a !important;
    background-image: none;
    padding: 17px;
    box-shadow: none;
    margin-bottom: 0;
    border: 0;
}

.bucket.tools.materials .content {
    padding: 0 0 0 32px;
}

.bucket.tools.materials {
    border-radius: 0;
    border: 1px solid;
}

.y4y-main-content .bucket.tools.materials h2, .y4y-main-content .bucket.tools.materials {
    background: transparent;
    color: #ef9e5a !important;
    background-image: none;
    padding: 17px;
    box-shadow: none;
    margin-bottom: 0;
    border: 0;
}

.bucket.tools.materials .content {
    padding: 0 0 0 32px;
}

//////////////////////////// END RESTYLE BUCKETS ////////////////////

/////////////////////////// STYLE THE UGLY MODULE TABLES I'M FIXING WHAT WAS ALREADY BROKEN AND IT IS STILL BROKEN DUE TO CONTENT OPERATOR FALIURE /////////////////////

table[class="FloatRight TStyle Half"], table[class="TStyle"], table[class="modTbl TStyle"] {
    display: block;
    width: 100% !important;
    margin-bottom: 25px;

    // background: none !important;
    box-shadow: none;

    tbody {
        tr {
            td, th {
                padding: 5px;
                border: 1px solid #ccc !important;
            }
        }

        &:first-child {
            tr {
                td, th {
                    padding: 5px;
                    border: 1px solid #ccc !important;
                }

                &:first-child {
                    background-color: $teal;
                    color: #fff;
                }

                &:nth-child(even) {
                    background-color: #eee;
                }
            }
        }
    }
}

/////////////////////////// END STYLE THE UGLY MODULE TABLES /////////////////////

////////////////////////////// BEGIN STYLE FIX FOR PAGES LIKE ASSESS YOUR FAMILY ENGAGEMENT //////////////////////////////

.center {
    display: block;
    position: relative;
    text-align: center;

    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        margin-top: 30px;
    }
}

ul.selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: .5em 1em;
        margin: 0.5em 0 !important;
        color: #fff;
        cursor: pointer;
        background-color: $orange;

        &:hover {
            @include image-fade;
        }

        a {
            color: #777 !important;
            text-decoration: underline;
        }
    }

    .ui-selectee {
        background-color: $orange;
        cursor: pointer;
    }

    .ui-selecting {
        background: #87ccf3;
    }

    .ui-selected {
        background-color: $teal;
    }
}

/*ray edit*/

.selected {
    background-color: $teal !important;
}

/////////////////////////////   END STYLE FIX FOR PAGES LIKE ASSESS YOUR FAMILY ENGAGEMENT ////////////////////////////

//////////////////////// ADD AN ACTIVE CLASS TO START PAGE ACCORDIAN /////////////////////////////////

.selected {
    background-color: $teal !important;
}

.visited {
    background-color: $orange !important;
}

//////////////////////// END ADD AN ACTIVE CLASS TO START PAGE ACCORDIAN /////////////////////////////////

//////////////////////// STYLE THE LINKS FOR POPOVERS /////////////////////////////////

a[data-toggle="popover"] {
    text-decoration: underline;
    background-color: #ffc;
    cursor: pointer;
}

//////////////////////// END STYLE THE LINKS FOR POPOVERS /////////////////////////////////

//////////////////////// STYLE THE POPOVERS /////////////////////////////////

.popover {
    border: 2px solid $orange;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);

    .popover-content {
        font-weight: bold;
    }
}

.popover.bottom > .arrow {
    border-bottom-color: $orange !important;
}

//////////////////////// END STYLE THE POPOVERS /////////////////////////////////

/*.search {
position: relative;
top: 25px;
width:100%;
}

.input-search{
width:100%;
max-width:350px;
}

.btn-clear{
background-color:#fff;
border:none;
color:#838282;
position:relative;
left:-30px;
background:transparent;
}*/
// YOU CAN DECLARE REUSABLE CLASSES HERE

//test Odin 2

////////////////////////// 508 COMPLIANCE DOWNLOADS //////////////////////////////

.compliance-downloads {
    display: block;
    width: 100%;
    margin: 30px 0;
    font-size: 16px;
    font-weight: normal;
    color: #333;
    font-style: italic;

    a {
        cursor: pointer;

        span {
            font-weight: bold;
            font-size: 40px;
        }

        span[class="fa fa-file-pdf-o"] {
            color: #c82b2b;
        }

        span[class="fa fa-file-word-o"] {
            color: #244bac;
        }

        span[class="fa fa-file-powerpoint-o"] {
            color: #ff8429;
        }
    }
}

////////////////////////// RAY TEST CLASS FOR STAGING 2 //////////////////////////////

////////////////////////// ODIN FOLDER TEST CLASS FOR STAGING 2 //////////////////////////////

.odin-class {
    font-size: 30px;
    font-weight: bold;
    border: 10px solid #333;
}

////////////////////////// END ODIN FOLDER TEST CLASS FOR STAGING 2 //////////////////////////////
