.y4y-main-footer {
    .col-sm-6 {
        min-height: 0px;
    }

    .color_p {
        padding: 38px 8px;
    }

    .last_footer {
        margin-bottom: 50px;
    }

    .footer_orange {
       // min-height: 170px;
        padding: 40px;

        .adjust_small {
            text-align: center;
        }

        .adjust_small {
            text-align: center;
        }
    }

    .subscribe {
        width: 140px !important;
    }

    .column-xs-2 {
        -webkit-column-count: 2;

        /* Chrome, Safari, Opera */
        -moz-column-count: 2;

        /* Firefox */
        column-count: 2;
    }

    //odins edits

    @media screen and (max-width: 480px) {
        .column-xxs-1 {
            -webkit-column-count: 1;

            /* Chrome, Safari, Opera */
            -moz-column-count: 1;

            /* Firefox */
            column-count: 1;
        }

        .column-1-group {
            float: left;
            break-inside: avoid-column;
            -webkit-column-break-inside: avoid;

            /* Safari and Chrome */
        }

        .column-2-group {
            float: left;
            break-inside: avoid-column;
            -webkit-column-break-inside: avoid;

            /* Safari and Chrome */
        }
    }
}
