.y4y-main-footer {
    border-top: 6px solid $orange;
    bottom: 0;
    clear: both;
    color: #989490;
    display: block;
    font-size: 12px;
    font-weight: normal;
    width: 100%;

    h1, h1 a {
        color: #fff;
        font-weight: 600;
        font-size: 2.2em;
        padding-left: 20px;
        margin-bottom: 18px;
        font-family: sans-serif !important;
    }

    ul {
        list-style-type: none;
        color: #F3DB91;
        font-size: 1.2em;
        margin-left: -10px;

        li {
            margin-bottom: 6px;
        }
    }

    .col-sm-6 {
        min-height: 290px;
    }

    .color_p {
        background-color: #f6f4f5;
        font-size: 16px;
    }

    .color_social {
        background-color: #DEDEDE;
        padding: 45px 0 60px 0;

        h2 {
            color: $teal;
            text-align: center;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 2.0em;
            font-family: inherit !important;
        }
    }

    .color_aqua {
        background-color: #1EBCB3;
    }

    .footer_orange {
        background-color: $orange;
        color: #fff;
        font-size: 1.4em;
        padding: 50px;
        min-height: 130px;
    }

    .center_logos {
        margin: 0 auto;
        height: auto;
        text-align: center;

        img {
            transform: scale(0.7);
        }
    }

    .btn-primary {
        background-color: #158AB9;
    }

    .btn-primary:hover {
        background-color: #3db6e5;
    }

    a, a:visited, a:hover {
        color: #F3DB91;
    }

    .subscribe {
        margin-top: 32px;
        width: 200px !important;
        font-size: 1.8em !important;
    }

    .column-lg-3 {
        -webkit-column-count: 3;

        /* Chrome, Safari, Opera */
        -moz-column-count: 3;

        /* Firefox */
        column-count: 3;
    }

    .column-3-group {
        float: left;
        break-inside: avoid-column;
        -webkit-column-break-inside: avoid;

        /* Safari and Chrome */
    }

    .color_aqua ul {
        padding-bottom: 15px;
    }

    .color_aqua h1 {
        margin-top: 0;
    }
}

.row .y4y-main-footer {
    padding-top: 0px;
}
