.logo_pos {
    transform: scale(0.9);
    left: 4%;
    margin-top: -12%;
}

.header_font {
    font-size: 1.4em;
}

#y4y-home {
    .doe-logo {
        margin-top: -25%;
    }
}

.img_header {
    margin-top: 0px;
}

.logo_pos222 {
    top: 34px;
}

.y4y-main-header .img-responsive {
    padding-top: 0;
}

.invis_link {
    height: 120px;
    width: 320px;
    z-index: 1200;
    position: absolute;
    top: 45px;
    left: 40px;
}

.navbar-nav > li > .dropdown-menu, .dropdown-menu .sub-menu {
    z-index: 1200;
}

#y4y-home form.search-form, .home_linksx {
    text-align: right;
}

.home_linksx {
    margin-top: 0;
    margin-left: 0;
    height: 34px;
    color: #1ebcb3;
}

#y4y-home form.search-form {
    padding-left: 11px;
}

.home_linksx a {
    color: #9c9c9c;
}

.search-login-narrow {
    display: none;
}

#y4y-home .search-login {
    display: block !important;
    position: absolute;
    top: 100px;
    width: 98%;
}

#y4y-home .external .doe-logo {
    margin-top: -32px;
    padding-left: 0;
    padding-right: 68px;
}
