.y4y-main-header {
    background: #313131 url("images/header-background.png") no-repeat fixed center;
    display: block;
    position: relative;
    width: 100%;

    .header_font {
        left: 5%;
        top: 58%;
    }

    .header_font.sub {
        left: 10%;
        top: 30.5%;
    }

    .header-nav-wrapper {
        display: block;
        height: 25px;
        margin: 30px 0 0 0;
        text-align: right;
        width: 100%;

        nav.header-nav {
            button {
                background-color: $header-link-hover-color;
                font-size: 18px;
                height: 50px;
                line-height: 40px;
                padding: 0;
                width: 50px;

                span {
                    color: #313131;
                }
            }

            .active {
                color: $header-link-hover-color;
            }

            ul {
                float: right;
                list-style: none;

                li {
                    display: inline-block;
                    margin: 0;
                    padding: 0;
                    text-align: center;

                    a {
                        background-color: none !important;
                        background: none !important;
                        color: $header-link-color;
                        display: block;
                        font-size: 20px;
                        font-weight: bold;
                        line-height: 25px;
                        margin: 0;
                        padding: 10px;
                        text-align: center;
                        text-decoration: none;
                        text-transform: uppercase;
                        width: 166px;

                        &:hover {
                            background-color: none !important;
                            background: none !important;
                            color: $header-link-hover-color;
                        }

                        &:active {
                            background-color: none !important;
                            background: none !important;
                            color: $header-link-hover-color;
                        }

                        &:selected {
                            background-color: none !important;
                            background: none !important;
                            color: $header-link-hover-color;
                        }
                    }
                }

                ul.dropdown-menu {
                    li {
                        a {
                            &:hover {
                                background-color: $orange !important;
                                background: $orange !important;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    background: transparent;
    display: block;
    position: relative;
    width: 100%;

    .img-responsive {
        width: 100%;
    }
}

.orange_hr {
    width: 100%;
    height: 6px;
    background-color: orange;
}

.logo_pos {
    position: absolute;
    margin-top: -12%;
    transform: scale(0.9, 0.9);
}

.header_font {
    color: #909090;
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: 1.6em;
    font-weight: 600;
    line-height: 1.2;
}

.teal_text_color {
    color: $teal;
}

h1 {
    color: $teal;
}

#y4y-home {
    .search {
        top: -30px;

        .input-search {
            width: 100%;
        }
    }

    .pos_button {
        margin-top: -5px;
    }
}

.pos_button {
    margin-top: -21px;
}

.logo_pos222 {
    position: absolute;
    top: 30px;
    left: 53px;
    width: 26%;
}

#y4y-home .y4y-main-header {
    margin-top: 0;
}

/* edits for the header*/

#y4y-home form.search-form, .home_linksx {
    text-align: left;
}

.home_linksx {
    margin-top: 0;
    margin-left: 0;
    height: 34px;
    color: #1ebcb3;
}

#y4y-home form.search-form {
    padding-left: 11px;
}

.home_linksx a {
    color: #9c9c9c;
}

.search-login {
    display: none;
}
