.logo_pos {
    margin-top: -290px;
    margin-left: 3px;
    transform: scale(0.8);
}

.header_font {
    font-size: 1.1em;
}

.breadcrumb {
    margin-top: 10px;
    padding-bottom: 0px;
}

.display_inline > li {
    padding-bottom: 0px;
}

ol.display_inline.aqua.top {
    padding-left: 15px;
}

#y4y-home .header_font {
    font-size: 1.5em;
}

.y4y-main-header .header_font.sub {
    font-size: 1.3em;
    left: 5%;
    top: 60.5%;
}

.y4y-main-header .img-responsive {
    padding-top: 78px;
}

#y4y-home {
    .doe-logo {
        transform: scale(0.5);
        margin-left: -27px;
        margin-top: -26px;
        padding-left: 22px;
    }

    .search {
        padding-left: 10px;
    }

    .logo_pos {
        margin-top: -41%;
    }
}

.img_header {
    margin-top: -22px;
}

.logo_pos222 {
    top: 70px;
}

#y4y-home .y4y-main-header {
    margin-top: -60px;
}

.home_linksx {
    padding-left: 6px;
}

#y4y-home .doe-logo {
    transform: scale(0.5);
    margin-left: -40px;
    margin-top: -19px;
    padding-left: 22px;
}
