.y4y-main-content {
    .description {
        clear: both;
        margin: 5px 0 25px 70px;
        min-height: 40px;
    }

    .introduction {
        background-image: url("/assets/img/atom.png");
        background-repeat: no-repeat;
        background-position-x: 7px;
        margin-left: 5px;
        display: block;
        padding-left: 70px;
    }

    .implementationstrategies {
        background-image: url("/assets/img/protract.png");
        background-repeat: no-repeat;
        background-position-x: 7px;
        margin-left: 5px;
        display: block;
        padding-left: 70px;
    }

    .coachingmystaff {
        background-image: url("/assets/img/trophy.png");
        background-repeat: no-repeat;
        background-position-x: 7px;
        margin-left: 5px;
        display: block;
        padding-left: 70px;
    }

    .tools {
        //background-image: url("/assets/img/tools_pencil_ruler.png");
        //background-repeat: no-repeat;
        //background-position-x: 7px;
        margin-left: 5px;
        display: block;

        //padding-left: 70px;
   
    }

    #tools .bucket.expandable .decorate {
        padding: 33px 30px 20px 95px;
    }

    .description.trainingstarters {
        background-image: url("/assets/img/trainingstarters.png");
        background-repeat: no-repeat;
        background-position-x: 7px;
        margin-left: 5px;
        display: block;
        padding-left: 70px;
    }

    .description.trainingstogo {
        background-image: url("/assets/img/trainings-to-go.png");
        background-repeat: no-repeat;
        background-position-x: 7px;
        margin-left: 5px;
        display: block;
        padding-left: 70px;
    }

    .description.tools {
        background-image: url("/assets/img/tools_pencil_ruler.png");
        background-repeat: no-repeat;
        background-position-x: 7px;
        margin-left: 5px;
        display: block;
        padding-left: 70px;
    }

    p.projectbasedlearning {
        background: url(/assets/img/badge_projectbasedlearning.png) left 15px no-repeat;
        padding: 18px 0 15px 80px;
        min-height: 95px;
    }

    p.alignment {
        background: url(/assets/img/badge_align.png) left 15px no-repeat;
        padding: 18px 0 15px 80px;
        min-height: 95px;
    }

    p.stem {
        background: url(/assets/img/badge_stem.png) left 15px no-repeat;
        padding: 18px 0 15px 80px;
        min-height: 95px;
    }

    p.partnerships {
        background: url(/assets/img/badge_strength.png) left 15px no-repeat;
        padding: 18px 0 15px 80px;
        min-height: 95px;
    }

    p.family {
        background: url(/assets/img/badge_family.png) left 15px no-repeat;
        padding: 18px 0 15px 80px;
        min-height: 95px;
    }

    p.literacy {
        background: url(/assets/img/badge_literacy.png) left 15px no-repeat;
        padding: 18px 0 15px 80px;
        min-height: 95px;
    }

    p.ccr {
        background: url(/assets/img/badge_ccr.png) left 15px no-repeat;
        padding: 18px 0 15px 80px;
        min-height: 95px;
    }
}

.projectbasedlearning, .alignment, .stem, .partnerships, .family, .literacy, .collegeandcareerreadiness {
    h1 {
        background: url("/assets/img/badge_projectbasedlearning.png") left center no-repeat;
        padding: 20px 0 15px 78px;
    }
}

#be-open-to-different-types-of-involvement .expandable.col-lg-2 {
    cursor: pointer;
    width: 20%;
    padding: 0;
}

#accordion h4 a, #accordion h4 a:hover, #accordion h4 {
    font-size: 16px;
    padding: 0;
}

.projectbasedlearning h3.panel-title {
    padding-top: 12px;
    line-height: 16px;
}

#demonstrate-learning-coaching-moment, #goals-objectives-coaching-moment {
    .projectbasedlearning .expanded h3, .projectbasedlearning .expandable h3 {
        padding-top: 35px;
        padding-bottom: 18px;

        /* padding-left: 10px; */
        font-size: 1.2em;
        padding-left: 10px;
        margin-left: -38px;
        margin-right: 10px;
        padding-right: inherit;
        font-weight: 700;
    }
}

#partner-with-schools-coaching-moment .expandable h3 {
    color: #fff;
}

.projectbasedlearning .expanded h3, .projectbasedlearning .expandable h3 {
    padding-top: 0px;
    padding-bottom: 5px;

    /* padding-left: 10px; */
    font-size: 17px;
    padding-left: 0;
    margin-left: -27px;
    margin-right: -18px;
    padding-right: 0;
    font-weight: 200;
}


.projectbasedlearning  {
    
    .panel-collapse h3 {
    
    font-size: 22px;
    padding-top: 20px;
}
}

.contentx {
    padding-left: 40px;
    padding-bottom: 18px;
}

#tools .bucket.expandable .decorate {
    padding: 33px 30px 20px 95px;
}

#tools #accordion a, #tools #accordion h2, #accordion a:hover, #accordion a:focus {
    text-decoration: none;
    font-size: 1.17em;
}

/* Quiz for learn/literacy/introduction/unlocking-meaning-vocabulary-is-the-key */
.quiz-questions .answer-wrong {
    color: #ff790e;
    font-weight: bold;
}

.quiz-questions li:hover {
    color: #2aa4ea;
    text-decoration: underline;
}

.quiz-questions .answer-checked {
    color: #2aa4ea;
    font-weight: bold;
    background: url(/assets/img/check-box-checked.png) no-repeat left center;
}

.quiz-questions li {
    cursor: pointer;
    background: url(/assets/img/check-box.png) no-repeat left center;
    padding: 3px 0 3px 37px;
    list-style: none;
}

.wrong-answer-message {
    color: #ff790e;
    font-weight: bold;
    font-size: 20px;
    display: none;
    padding-bottom: 1rem;
}

.correct-answer-message {
    color: #78f083;
    font-weight: bold;
    font-size: 20px;
    display: none;
    padding-bottom: 1rem;
}

table.TStyle.FloatRight.Full p {
    padding: 20px;
}

/* /learn/literacy/introduction/literacy-diagram/ */

.block-widget {
    max-width: 654px;
    margin: 0 auto;
}

.block-widget div {
    margin-top: -2px;
    position: relative;
}

.block-widget div img {
    display: block;
    margin: 0 auto;
    margin-top: -5px;
}

.block-reading {
    text-indent: -9999em;
    max-width: 279px;
    height: 40px;
    background: url(/uploads/img/reading-sprite.png) center top;
    background-size: cover;
    cursor: pointer;
    margin: 0 auto;
    z-index: 4;
}

.block-reading:hover {
    background-position: 0 -40px;
}

.block-writing {
    text-indent: -9999em;
    max-width: 272px;
    height: 38px;
    background: url(/uploads/img/writing-sprite.png) center top;
    background-size: cover;
    cursor: pointer;
    margin: 0 auto;
    z-index: 3;
}

.block-writing:hover {
    background-position: 0 -38px;
}

.block-speaking {
    text-indent: -9999em;
    max-width: 366px;
    height: 76px;
    background: url(/uploads/img/speaking-sprite.png) center top;
    background-size: cover;
    cursor: pointer;
    margin: 0 auto;
    z-index: 2;
}

.block-speaking:hover {
    background-position: 0 -76px;
}

.block-lang {
    text-indent: -9999em;
    max-width: 416px;
    height: 51px;
    background: url(/uploads/img/lang-sprite.png) center top;
    background-size: cover;
    cursor: pointer;
    margin: 0 auto;
    z-index: 1;
}

.block-lang:hover {
    background-position: 0 -51px;
}

.block-bubble {
    border-radius: 10px;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 30px;
    background: transparent !important;
}

.block-bubble:before, .block-bubble:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}

/* Stroke */
.block-bubble:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: black;
    border-width: 16px;
}

/* RED BUBBLE */

.block-bubble.red {
    border-color: #ED1C24;
    color: #ED1C24;
}

.block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

.block-bubble.red:before, .block-bubble.red:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}

/* Stroke */
.block-bubble.red:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #ED1C24;
    border-width: 16px;
}

/* Fill */
.block-bubble.red:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

/* BLUE BUBBLE */

.block-bubble.blue {
    border-color: #008CD2;
    color: #008CD2;
}

.block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

.block-bubble.blue:before, .block-bubble.blue:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}

/* Stroke */
.block-bubble.blue:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #008CD2;
    border-width: 16px;
}

/* Fill */
.block-bubble.blue:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

/* ORANGE BUBBLE */

.block-bubble.yellow {
    border-color: #F58220;
    color: #F58220;
}

.block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

.block-bubble.yellow:before, .block-bubble.blue:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}

/* Stroke */
.block-bubble.yellow:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #F58220;
    border-width: 16px;
}

/* Fill */
.block-bubble.yellow:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

/* Green BUBBLE */

.block-bubble.green {
    border-color: #117F4D;
    color: #117F4D;
}

.block-bubble:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

.block-bubble.green:before, .block-bubble.green:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
    border-bottom: 0;
}

/* Stroke */
.block-bubble.green:before {
    bottom: -16px;
    left: 200px;

    /* If 1px darken stroke slightly */
    border-top-color: #117F4D;
    border-width: 16px;
}

/* Fill */
.block-bubble.green:after {
    bottom: -15px;
    left: 201px;
    border-top-color: white;
    border-width: 15px;
}

@media screen and (max-width: 418px) {
    .block-widget img {
        width: 100%;
    }

    .block {
        width: 100%;
    }

    .block-bubble {
        width: inherit;
    }

    .block-writing {
        background: url(/uploads/img/writing.png) no-repeat cover;
        height: 35px;
    }

    .block-lang {
        background: url(/uploads/img/lang-1.png) no-repeat cover;
        height: 35px;
    }

    .block-reading {
        background: url(/uploads/img/reading.png) no-repeat cover;
        height: 35px;
    }

    .block-speaking {
        background: url(/uploads/img/speaking.png) no-repeat cover;
        height: 60px;
    }
}

@media screen and (max-width: 500px) {
    .block-writing:hover, .block-lang:hover, .block-reading:hover, .block-speaking:hover {
        background-position: center top !important;
    }
}

.module-nav h2.bucket {
    min-height: 10px;
}

.module-nav .learn-2nd-nav.sub_nav_pad {
    margin-left: 0;
    display: table-row;
    font-size: .95em;
}

.module-nav h2.introduction.bucket, .module-nav h2.implementationstrategies.bucket, .module-nav h2.coachingmystaff.bucket {
    padding-bottom: 32px !important;
    border-left: solid #fff;
}

.slash_intro{
    position: relative;
    top: 7px;
}