#accordion h2 {
    font-size: 1.1em;
}

#be-open-to-different-types-of-involvement .expandable.col-lg-2 {
    width: 400px;
    padding: 10px;
}

@media screen and (max-width: 480px) {
    .projectbasedlearning, .alignment, .stem, .partnerships, .family, .literacy, .collegeandcareerreadiness {
        h1 {
            transform: scale(0.8);
            font-size: 26px;
            margin-left: -30px;
        }
    }
}
