.navbar-default {
    background-color: #000 !important;
}

.navbar-default .navbar-collapse {
    border-color: #515151;
}

.dropdown-menu .sub-menu {
    left: 100%;
}

.navbar-default {
    position: absolute !important;
    top: -52px;
}

.navbar-fixed-top .navbar-collapse {
    max-height: none !important;
}

.navbar-default {
    max-height: none;
}

.home_nav.navbar-default {
    max-height: none;
    margin-top: -55px;
}

.navbar-default.home_nav {
    top: 0 !important;
}

.navbar-default {
    font-size: 1em;
}

.img_header {
    margin-top: -118px;
}

.navbar-collapse.collapse.in .logo_pos {
    z-index: 0;
}

#y4y-home section.no_section_pad {
    padding: inherit;
    margin-top: 173px;
}

#y4y-home .y4y-main-header {
    margin-top: 0;
}

.navbar-collapse {
    overflow: hidden;
    -ms-scroll-limit: 0 0 0 0;
    -ms-overflow-x: hidden;
}
