.navbar-default {
    font-size: 1.0em;
}

.nav > li > a {
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-fixed-top .navbar-collapse {
    background-color: inherit;
}

.dropdown-menu .sub-menu {
    left: 99%;
    margin-left: 0px;
}

#navbar {
    /* height:70px !important; changes the bootstrap nav setting for height*/
    padding-top: 10px;
}

.img_header {
    //  margin-top: 60px;
}

#y4y-home .y4y-main-header {
    margin-top: -60px;
}

.navbar-fixed-top {
    top: 0;
}
