.y4y-main-navigation {}

.navbar-default {
    background-color: transparent;
    border: none;
    border: 0;
    font-size: 1.2em;
}

.navbar-default .navbar-nav > li > a, .dropdown-menu > li > a, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #9A9C9C;
}

.navbar-nav.navbar-right:last-child {
    margin-right: -20px !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .dropdown-menu > li > a {
    background-color: #000;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #353535;
}

.dropdown-menu {
    background-color: #000;
}

/*multi level sub nav code*/

.dropdown-menu > li {
    position: relative;
    -webkit-user-select: none;

    /* Chrome/Safari */
    -moz-user-select: none;

    /* Firefox */
    -ms-user-select: none;

    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
    cursor: pointer;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    display: none;
}

.navbar-right .dropdown-menu {
    left: 100%;
}

.dropdown-menu > li {
    min-width: 174px;
}

.dropdown-menu .sub-menu {
    min-width: auto;
}

.home_nav.navbar-default {
    max-height: 130px;
}

.navbar-default {
    max-height: none;
}

.navbar-nav > li > .dropdown-menu, .dropdown-menu .sub-menu {
    margin-top: -2px;
}

/* odins edits*/
.dropdown-menu > li a {
    background: #424242;
}

.dropdown-menu {
    padding: 1px;
}

.navbar-nav .open .dropdown-menu > li > a {
    margin: 0;
}

.dropdown-menu > li > ul > li a {
    padding-left: 35px;
}

/* odins edits */

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #b3b2b2;
    background: #3c3c3c;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #fff;
    background: #484747;
}

.navbar-default .navbar-nav .open .dropdown-menu > ul > li > ul > li > a {
    color: #b2b2b2;
    background: #fff !important;
}

.navbar-default .navbar-nav .open .dropdown-menu.sub-menu > li > a {
    color: #000;
    background: #c3c3c3;
    padding-left: 45px;
}

.navbar-default .navbar-nav .open .dropdown-menu.sub-menu > li > a:hover {
    background: #818181;
}

.dropdown-menu {
    padding: 0;
}

.navbar-default {
    position: relative !important;
}

.navbar-collapse.in {
    overflow-y: initial;
}

.navbar-toggle {
    margin-right: 30px;
}

.navbar-collapse {
    overflow: hidden;
    -ms-scroll-limit: 0 0 0 0;
    -ms-overflow-x: hidden;
}
